<!-- <p style="margin-top: 40%important ;">Test</p> -->
<quill-editor
	[styles]="{height: '400px'}"
	(onFocus)="focus($event)"
	(onEditorChanged)="changedEditor($event)"
	(onBlur)="blur($event)"
	(onEditorCreated)="created($event)"
></quill-editor>

<div class="row mt-5">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 p-5">
        <div class="row justify-content-center align-items-center">
         <img src="https://www.clipartkey.com/mpngs/m/125-1252920_cartoon-spaceman-png.png"
         class="img-fluid" alt="">
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Course Name</mat-label>
                <input matInput placeholder="Enter The Course Name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
        </div>
        <div class="row">
            <button mat-raised-button color="primary" routerLink="courseNameHere" >Create Course</button>
        </div>


    </div>
    <div class="col-md-3">

    </div>
</div>

