<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">
      <img src="https://vueschool.io/img/logo/vueschool_logo_multicolor_negative.svg" width="150" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Users">Users</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> 
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> 
    </div>
  </nav> -->

  <div class="primary-nav">

    <button href="#" class="hamburger open-panel nav-toggle">
  <span class="screen-reader-text">Menu</span>
  </button>
  
    <nav role="navigation" class="menu">
  
      <a href="#" class="logotype">
        <img src="https://vueschool.io/img/logo/vueschool_logo_multicolor_negative.svg" width="150" alt="" loading="lazy">
      </a>
  
      <div class="overflow-container">
  
        <ul class="menu-dropdown">
  
          <li><a href="#">Dashboard</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>
  
          <li class="menu-hasdropdown">
            <a href="#">Settings</a><span class="icon"><i class="fa fa-gear"></i></span>
  
            <label title="toggle menu" for="settings">
          <span class="downarrow"><i class="fa fa-caret-down"></i></span>
        </label>
            <input type="checkbox" class="sub-menu-checkbox" id="settings" />
  
            <ul class="sub-menu-dropdown">
              <li><a href="">Profile</a></li>
              <li><a href="">Security</a></li>
              <li><a href="">Account</a></li>
            </ul>
          </li>
  
          <li><a href="#">Favourites</a><span class="icon"><i class="fa fa-heart"></i></span></li>
  
          <li><a href="#">Messages</a><span class="icon"><i class="fa fa-envelope"></i></span></li>
  
        </ul>
  
      </div>
  
    </nav>
  
  </div>

  <div class="new-wrapper">

    <div id="main">
  
      <div id="main-contents">
  
              <router-outlet></router-outlet>
              <app-my-loader></app-my-loader>
          
      </div>
  
    </div>
  
  </div>