.hero-card{
  max-width: 100%;
  max-height: 300px!important;
  margin-top: -10%;
}

.card-img{
  max-height: inherit!important;
}

.course-card img{
  max-height: 180px!important;
}

#hero-card-image{
  max-width: 100%;
  max-height: 500px;
  /* position: absolute; */
  border-radius: 15px;
}

.course-status-card{
  max-width: 100%;
}

#enroll-button{
  min-width: 100%;
}

.about-instructor-card{
max-width: 100%;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

fa-icon{
 font-size: 70px;
 color: black;
}

.col-md-3{
  text-align: center!important;
}

.card-stats{
  background: rgb(9,9,121);
  background: white;
  border-radius: 20px;
}

.card-stats:hover{
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

h6{
  color: black;
}

input{
  height: 20px;
  width: 100px;
  font-size: xx-small;
}

.color-picker-button{
  border-radius: 50%;
  position: absolute;
  float: right!important;
}

