.example-card {
    max-width: 400px;
    min-height: 180px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card-title{
      font-size: medium!important;
      font-weight: 400!important;
  }

  .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #0bb356;
    float: right!important;
}

 button fa-icon{
  color: white!important;
 }

 .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.learningPathUrl{
  max-height: 30%!important;
 max-width: 250px!important;
 align-items: center!important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.textCenter{
  text-align: center!important;
}

.mat-card-content{
  text-align: center!important;
}

#fixedbutton {
  position: fixed;
  bottom: 10%!important;
  right: 0px; 
}

/* 
.wrapper {
  width: 50%;
  margin: 5em auto;
  position: relative;
}
.wrapper p {
  color: #fff;
  margin-top: 50px;
} */

.btn-sonar {
  background: #48f73d;
  border: 0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  color: #fff;
  outline: none;
  position: relative;
}
.btn-sonar::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.btn-sonar:hover::before {
  -webkit-animation: sonar-effect 1s ease-in-out .1s infinite;
          animation: sonar-effect 1s ease-in-out .1s infinite;
}

.down {
  position: relative;
  display: inline-block;
  -webkit-animation: fade-down 2s infinite;
          animation: fade-down 2s infinite;
}

@-webkit-keyframes sonar-effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
  }
  100% {
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sonar-effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
  }
  100% {
    box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes fade-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes fade-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

