<div class="container-fluid" style="background-color: #520080;">
<div class="row">
<div class="col-md-7">
            <img src="https://vueschool.io/media/80626cb0d4cbeb22b2b29789a1281da1/the-vuejs-3-master-class.png"
             class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
</div>
<div class="col-md-5 mt-5">
    <div class="card x" >
      <div class="card-img-overlay">
        <div class="card no">
            <!-- <img class="card-img-top" src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/visual-aids-for-learning.png" alt=""> -->
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>