<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              What you'll learn
            </mat-card-title>
          </mat-card-header>
        <mat-card-content>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p>Some Text Here</p>
                </div>
                <div class="col-md-6">
                  <p>Some Text Here</p>
                </div>
              </div>
                  <div class="col-md-12">
                    <div class="row">
                      <form class="example-form">
                        <mat-form-field class="add-learn-input">
                          <mat-label>What a student will learn</mat-label>
                          <textarea class="add-learn-input" matInput placeholder="What a student will learn"></textarea>
                        </mat-form-field>
                        <button class="btn btn-success">Add</button>
                      </form>
                    </div>
                  </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
